
body {
  background-color: rgb(236, 227, 228);
}

.titulo {
  text-align: center;
  font-size: 50px;
  background-color:#f3caf5 ;
  border-radius: 15px 0px 15px 0px;
  border:10px solid rgb(223, 147, 160);
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.header {
  width: 100%;
  display: flex;
}

.my-photo {
  width: 40%;
}

.my-photo img {
  width: 45%;
  border-radius: 30px; /*solo me sale el borde dcho de abajo, no soy capaz de poner el borde derecho también*/
  height: 90%;
  margin-top: 30px;
  margin-left: 480px;
  border:10px solid rgb(223, 147, 160);
}

.header-content {
  width: 200px;
  height: 295px;
  margin-top: -424px;
  margin-left: 900px;
  padding: 50px;
  padding-top: 60px;
  background-color: #f3caf5 ;
  text-align:center;
  border-radius: 30px;
  border:10px solid rgb(223, 147, 160);
}

section {
  margin: 10px;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies {
  display: none;
  padding-top: 5px;
}

.active {
  display: block;
  background-color: #f3caf5;
  padding: 10px;
  border-radius: 20px;
  border:10px solid rgb(223, 147, 160);
}

.section-experience-studies {
  color: blueviolet;
  font-size: x-large;
  font-weight: bold;
  padding-top: 5px;
  text-align: center ;
}

.botones {
  display: inline-block;
  align-items: center;
  margin-left: 47%; 
}

.buttononclik {
  background-color: rgb(223, 147, 160);
  border-radius: 50px;
  border: none;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-bottom: 80px; 
  color: white;
  font-size:large;
  Width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
  line-height: 45px;
  transform: translateX(-50%);
  text-align: center;
  height: 100PX;
}

.buttononclik:hover{ /*resaltar letras*/
  color: black; 
}

/* mouse sobre enlace */
a:hover { /*resaltar letras*/
  color: green;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  
  background-color:  #f3caf5;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 20px;
  border:10px solid rgb(223, 147, 160);
}

